<a href="https://colab.research.google.com/github/Saquib0001/MLQuest-Basic-/blob/main/List_Tuple_Set_Dictionary.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Types of Objects in python
1. Immutable Objects
2. Mutable Objects

Immutable Objects:

1. int
2. float
3. string
4. bool
5. tuple

Mutable Objects:

1. List
2. Set
3. Dictionary

List

In [ ]:
# List should be included in the square brackets

my_list = [1,2,3,4,5]
print(my_list)
type(my_list)

[1, 2, 3, 4, 5]

list

In [ ]:
# Lists can have multiple data types
my_list = [7,5,2.1,'English' , 'Arabic' , True]
print(my_list)

[7, 5, 2.1, 'English', 'Arabic', True]

list are Mutabale

In [ ]:
#add element to a list
my_list = [2, 3 , 3.5 , 'English' , False]
my_list.append(33)
print(my_list)

[2, 3, 3.5, 'English', False, 33]

In [ ]:
# Print element of a List using their index
print(my_list[0])
print(my_list[2])

2
3.5

In [ ]:
#List allow duplicate values
list_1 = [1,2,3,4,5,3,4,10]
print(list_1)

[1, 2, 3, 4, 5, 3, 4, 10]

In [ ]:
# Initiating an empty list
list_2 = []
print(list_2)

[]

In [ ]:
list_2.append(5)
print(list_2)

[5]

In [ ]:
# delete anitem in a list
list_2 = [2, 5 , 78 , 'Eng' , True]
print(list_2)

del list_2[2]
print(list_2)

[2, 5, 78, 'Eng', True]
[2, 5, 'Eng', True]

In [ ]:
# join two lists
list_3 = [1, 2, 3, 4, 5]
list_4 = [6, 7, 8, 9, 10]

list_5 = list_3 + list_4
print(list_5)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

Tuple

In [ ]:
# tuple allows multiple datatypes
tuple_1 = (1, 2 , 3.5,  'Machine Learning' , False)
print(tuple_1)

(1, 2, 3.5, 'Machine Learning', False)

In [ ]:
# converting a list to a tuple

my_list = [1,2,3,4]
print(my_list)

my_tuple = tuple(my_list)
print(my_tuple)

[1, 2, 3, 4]
(1, 2, 3, 4)

In [ ]:
print(my_tuple[0])
print(my_tuple[1])

1
2

Tuples are Immutable -> Unchangeable

In [ ]:
my_tuple.append(6) # This function is not work in tuple bcz it's unchangeable

AttributeError: 'tuple' object has no attribute 'append'

In [ ]:
print(len(my_tuple))

4

SET

In [ ]:
# set --> Curly brackets
my_set = {1,2,3,4,5}
print(my_set)
type(my_set)

{1, 2, 3, 4, 5}

set

In [ ]:
print(my_set[0])

TypeError: 'set' object is not subscriptable

In [ ]:
# convert a list to a set
list_5 = [4,5,6,7,8]

x = set(list_5)
print(x)

{4, 5, 6, 7, 8}

In [ ]:
# set does not allow duplicate values
set_3 = {1,2,3,4,5,6,1,2,3}
print(set_3)

{1, 2, 3, 4, 5, 6}

Dictonary

key-Value Pair

In [13]:
my_dictionary = {'name' : 'Saquib' , 'age' :20 , 'country' : 'India'}
print(my_dictionary)
type(my_dictionary)

{'name': 'Saquib', 'age': 20, 'country': 'India'}

dict

In [10]:
#dictionary does not allow duplicate values
dictionary_2 = {'name' : 'Rahul' , 'age' : 30 , 'country' : 'India' , 'name' : 'Rahul'}
print(dictionary_2)

{'name': 'Rahul', 'age': 30, 'country': 'India'}